In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import pandas as pd
df = pd.read_csv(r"C:\Users\riapi\OneDrive\Documents\housing_prices_MLR.csv")
df

    AREA  FLOOR  ROOM CODE  PRICE
0   1000      7     2    B   5618
1   1030      7     1    A   5201
2   1060      1     1    A   4779
3   1090      6     1    A   5425
4   1120      0     2    B   5657
5   1150      1     1    B   4945
6   1180      6     2    B   6475
7   1210      0     1    A   5352
8   1240      0     2    B   6290
9   1270      7     1    A   6147
10  1300     10     2    A   7718
11  1330      3     2    B   7035
12  1360      3     3    B   8712
13  1390      8     3    B   9457
14  1420      3     2    A   7304
15  1450      7     2    B   7535
16  1480      8     3    B   9968
17  1510      7     2    A   7614
18  1540      6     3    A   9762
19  1570      8     3    A  10067
20  1600      6     2    A   8074
21  1630      4     3    B  10201
22  1660      1     3    B  10051
23  1690      3     3    B   9775
24  1720      3     3    A  10229
25  1750      0     2    A   8314
26  1780      4     2    A   9288
27  1810      1     3    B  10503
28  1840      6     2    A   9763
29  1870      6     3    A  11527
30  1900      8     2    B   9912
31  1930      8     2    B  10204
32  1960      0     2    B   9085
33  1990      8     2    A  10240
34  2020      0     4    B  15220
35  2050     10     3    A  12278
36  2080      9     5    A  22270
37  2110     10     3    A  12574
38  2140      7     3    B  12618
39  2170      1     4    B  15457
40  2200      4     3    A  12793
41  2230      3     3    B  12641
42  2260      8     4    A  17207
43  2290      4     4    B  16969
44  2320      2     4    B  16293
45  2350      5     4    B  16845
46  2380     10     4    B  17604
47  2410      6     4    B  17310
48  2440      9     3    B  14036
49  2470      3     3    B  13699

In [15]:
X = df.iloc[:,0:3]
X.head()

   AREA  FLOOR  ROOM
0  1000      7     2
1  1030      7     1
2  1060      1     1
3  1090      6     1
4  1120      0     2

In [16]:
Y = df.iloc[:,4:5]
Y

    PRICE
0    5618
1    5201
2    4779
3    5425
4    5657
5    4945
6    6475
7    5352
8    6290
9    6147
10   7718
11   7035
12   8712
13   9457
14   7304
15   7535
16   9968
17   7614
18   9762
19  10067
20   8074
21  10201
22  10051
23   9775
24  10229
25   8314
26   9288
27  10503
28   9763
29  11527
30   9912
31  10204
32   9085
33  10240
34  15220
35  12278
36  22270
37  12574
38  12618
39  15457
40  12793
41  12641
42  17207
43  16969
44  16293
45  16845
46  17604
47  17310
48  14036
49  13699

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size=0.8, random_state=42)

In [18]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

In [19]:
model.fit(X_train, Y_train)

LinearRegression()

In [20]:
y_pred_lr = model.predict(X_test)
y_pred_lr

array([[10591.95840198],
       [15151.03297366],
       [ 9997.85853449],
       [16350.04113907],
       [ 8394.79343843],
       [14688.31803749],
       [ 9025.51350903],
       [ 8393.1631935 ],
       [ 9186.48418333],
       [11271.94782183]])

In [21]:
Y_test

    PRICE
13   9457
39  15457
30   9912
45  16845
17   7614
48  14036
26   9288
25   8314
32   9085
19  10067

In [22]:
from sklearn.metrics import mean_absolute_error as mae, mean_squared_error as mse
print("Model Evaluation")
print("Mean Absolute Error(MAE) : {} ".format(mae(Y_test,y_pred_lr)))
print("Mean Squared Error(MSE) : {} ".format(mse(Y_test,y_pred_lr)))
print("Root Mean Square Erroe(RMSE) : {} ".format(np.sqrt((mse(Y_test,y_pred_lr)))))

Model Evaluation
Mean Absolute Error(MAE) : 510.29359892830746
Mean Squared Error(MSE) : 420662.38348591595
Root Mean Square Erroe(RMSE) : 648.5849084629675

In [23]:
print("Accuracy of LR on Training set : {:.2f} ".format(model.score(X_train,Y_train)))
print("Accuracy of LR on Testing set : {:.2f} ".format(model.score(X_test,Y_test)))

Accuracy of LR on Training set : 0.94
Accuracy of LR on Testing set : 0.95

In [26]:
def predict_price(model, area, floor, room):
    price = np.array([[area,floor,room]])
    return model.predict(price)[0]

area1 = 2000
floor1 = 7
room1 = 2
predicted_price = predict_price(model, area1, floor1, room1)

print(f"Predicted price for {area1, floor1, room1} is {predicted_price[0]:.2f}")

Predicted price for (2000, 7, 2) is 10245.88

C:\Users\riapi\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(